@font-face {
    font-family: "CeraPro";
    src: url(fonts/CeraPro-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "CeraPro";
    src: url(fonts/CeraPro-Bold.woff2);
    font-weight: bold;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: "CeraPro", sans-serif;
    color: #3D3D3D;
}

.wrapper{
max-width: 1220px;
min-width: 991px;
padding: 0 10px;
margin: 0 auto;
}
    /* footer */
.footer-body{
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 91px;
    padding-top: 31px;
    display: flex;
    padding-bottom: 24px;
}

.footer-body2{
    background-color: #F5F5F5;
    width: 100%;
    border-bottom: 3px solid rgb(70, 163, 88, 0.2);
    display: flex;
}

.footer-card{
    width: 20%;
    padding: 0 30px;
    min-height: 219px;
}

.plantrenovation{
    border-right: 1px solid rgb(70, 163, 88, .1);
    border-left: 1px solid rgb(70, 163, 88, .1);
}

h3.footer-card-info{
    padding-top: 15px;
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 17px;
}

p.footer-card-info{
    font-size: 14px;
    line-height: 22px;
}

.joinform-card{
    width: 40%;
    padding: 0 32px;
}

.joinform{
    display: flex;
    margin-top: 25px;
    margin-bottom: 18px;
}

.joinform-body{
    width: 75%;
    padding: 12px 11px;
    border: none;
    border-radius: 6px 0 0 6px;
}

.joinform-button{
    width: 25%;
    padding: 12px 26px;
    border: none;
    background-color: #46A358;
    color: white;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

h3.joinform-info{
    font-weight: bold;
    font-size: 18px;
}

p.joinform-info{
    font-size: 13px;
    line-height: 22px;
}

.gradient{
    width: 100%;
    height: 88px;
    background-image: linear-gradient(90deg, #EDF6EF, #52C368);
}

.gradient-body{
    height: 88px;
    padding: 0 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.gradient-link{
    text-decoration: none;
    color: #3D3D3D;
    display: inline-flex;
    align-items: center;
}

.gradient-icon{
    margin-right: 9px;
}

.footer-card2{
    width: 20%;
    padding: 33px 30px 29px 30px;
}

.footer-card2 h3{
    font-size: 18px;
    margin-bottom: 3px;
}

.footer-card2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
}

.footer-card2 a{
    text-decoration: none;
    color: #3D3D3D;
}

.footer-media{
    width: 40%;
    padding-top: 33px;
}

.media-container{
    display: flex;
    margin: 20px -8px 33px -8px;
}

.media-item{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(70, 163, 88, .2);
    border-radius: 4px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4px;
}

.footer-media h3{
    font-size: 18px;
}

.payment{
    margin-top: 13px;
}

.footer-p{
    padding-top: 7px;
    font-size: 14px;
    text-align: center;
}
    /* position */
.plantcare{
    position: relative;
    top: 8px;
    
}

.plantcare:hover .navigation{
    color: #46A358;
    border-bottom: 3px solid #46A358;
}

.pop-upmenu{
    display: none;
    position: absolute;
    top: 58px;
    transform: translateX(-10%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #EDF6EE;
    width: 188px;
    font-size: 16px;
    
}

.pop-upmenu::before{
    content: "";
    height: 45px;
    width: 100%;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -40px;
}

.pop-upmenu li{
    padding: 9px 14px;
}

.pop-upmenu a{
    display: block;
    text-decoration: none;
    color: #3D3D3D;
}

.plantcare:hover .pop-upmenu{
    display: block;
}

.previusprice{
    position: absolute;
    left: 88px;
    bottom: -1px;
    color: #A5A5A5;
    text-decoration: line-through;
    font-size: 18px;
    line-height: 16px;
}
   
.basket{
    position: relative;
}

.basket-number{
    position: absolute;
    background-color: #46A358;
    color: white;
    padding: 2px 2px;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 10px;
    top: -3px;
    right: -7px;
}

.sale-box{
    position: absolute;
    left: 10px;
    top: 14px;
    padding: 9px 9px;
    background-color: #46A358;
    color: white;
    text-transform: uppercase;
}

.box{
    position: relative;
}

.box:hover .background{
    border-top: 1px solid #46A358;
}

.box:hover .actions{
    display: flex;
}

.actions{
    width: 137px;
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
}

.actions-box{
    min-width: 35px;
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
}

.actions-svg{
    fill: #3D3D3D;
    transition: .3s;
    transition-property: fill;
}

.actions-svg:hover{
    fill: #46A358;
}
    /* position */

            /* inline-block */

.header-nav {
    height: 53px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(70, 164, 89, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
}

.navbar{
    display: flex;
}


.icons{
    display: flex;
    align-items: center;
}

.basket{
    margin-right: 35px;
    margin-left: 30px;
}

.login{
    background-color: #46A358;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    vertical-align: top;
    display: inline-flex;
    transition: .3s;
    transition-property: color;
}

.login:hover{
    color: #3D3D3D;
}

.navigation{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 26px;
    margin-left: 26px;
    margin-right: 26px;
    border-bottom: 3px solid transparent;
    transition: .3s;
    transition-property: color border;
}

.navigation:hover{
    color: #46A358;
    border-bottom: 3px solid #46A358;
}

.header-main{
    margin-top: 12px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.welcome{
    width: 55%;
    padding-left: 43px;
    padding-top: 68px;
}

.h2{
    font-size: 14px;
    color: #3D3D3D;
    line-height: 16px;
    padding-bottom: 7px;
}

.h1{
    font-size: 70px;
    color: #3D3D3D;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.planet{
    color: #46A358;
}

.p{
    font-size: 14px;
    color: #727272;
    line-height: 24px;
    margin-bottom: 44px;
}



.shop{
    background-color: #46A358;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
    transition-property: color transform;
}

.shop:hover{
    color: #3D3D3D;
    transform: rotate(7deg);
}

            /* float */
.main-items{
    display: flex;
    padding-top: 46px;
    margin: 0 -10px;
}

.categories{
    width: 25%;
    margin: 0 10px;
}

.categories-background{
    background-color: #F5F5F5;
}

.list-items a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #3D3D3D;
    transition: .3s;
    transition-property: color;
}

.list-items{
    list-style-type: none;
    padding-left: 30px;
    padding-right: 21px;
    line-height: 40px;
    font-size: 15px;

}

.list a:hover{
    color: #46A358;
}

.saleimg{
    padding-top: 377px;
    max-width: 100%;
}

.listname{
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    padding-top: 14px;
    padding-left: 18px;
    margin-bottom: 7px;
}



.nav-items{
    font-size: 15px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.nav-items-elem{
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 0 10px;
}

.elem{
    text-decoration: none;
    color: #3D3D3D;
    transition: .3s;
    transition-property: color;
}

.elem:hover{
    color: #46A358;
}

.sortby{
    padding: 0 10px;
    display: inline-flex;
}

.sorting{
    padding: 0 15px;
}

.goods{
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.items{
    width: 75%;
    margin: 0 10px;
}

.background{
    height: 300px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #FBFBFB;
}

.box{
    width: 33.333%;
    margin-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.price{
    color: #46A358;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
}

.name{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
    margin-top: 12px;
}

.goods-img{
    max-width: 100%;
}

.crouch{
    display: flex;
    justify-content: end;
}

.pages{
    display: flex;
    justify-content: space-between;
    width: 215px;
    padding-top: 90px;
    padding-bottom: 100px;
}

.square{
    text-decoration: none;
    color: #3D3D3D;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    min-width: 35px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 18px;
    transition: .3s;
    transition-property: background-color color; 
}

.square:hover{
    background-color: #46A358;
    color: white;
}

            /* flex */

.button{
    background-color: #46A358;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    transition: .3s;
    transition-property: color transform;
}

.button:hover{
    color: #3D3D3D;
    transform: rotate(7deg);
}

.bigcards{
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.bigcard{
    width: 50%;
    padding: 0 10px;
    text-align: end;
}

.bigcard-background{
    background-image: linear-gradient(white 18%, #f5f5f5 18%);
    height: 297px;
}

.imgmain{
    max-width: 100%;
    float: left;
}

h2.info{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 89px;
    padding-bottom: 9px;
}

p.info{
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 25px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding-top: 138px;
    text-align: center;
}

.h3{
    font-size: 14px;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 15px;
}

.cards{
    display: flex;
    margin: 0 -10px;
    
}

.smallcard{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    
}

.smallcard-background{
    background-color: #F5F5F5;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.date{
    color: #46A358;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 4px;
    padding-left: 15px;
}

h2.info-smallcard{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 15px;
}

p.info-smallcard{
    font-size: 14px;
    margin-bottom: 9px;
    padding-left: 15px;
}

.readmore{
    font-size: 14px;
    text-decoration: none;
    color: #3D3D3D;
    padding-left: 15px;
    transition: .3s;
    transition-property: color;
}

.readmore:hover{
    color: #46A358;
    text-decoration: underline;
}

.imgfooter{
    width: 285px;
    max-width: 100%;
}